__pycache__/
resume.txt
resume.pdf
frontend/node_modules
frontend/.next
.env
test.py
backend/checkpoint.sqlite
backend/checkpoint.sqlite-shm
backend/checkpoint.sqlite-wal
backend/*.flac
backend/*.mp3
backend/*.wav
backend/ollama_request.py
backend/main.py
backend/lm_request.py
backend/gemini_pdf_test
backend/suppress_alsa_error.py
backend/test_template.json
backend/text_preprocess.py
backend/gemini_pdf_test.py
backend/lang.py
backend/whisper.py
backend/env
git.sh
